html
  head
    title="PTL"
    link(rel="stylesheet" href="/index.css")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
  body
    main
      div
        button.luna
          img.im(src="/luna.jpg")
        button
          img.im(src="/sonce.jpg")
      h1 Голосування за ПТЛ!

      if message
        h3 #{message}
      else
        form#vote(action="/vote" method="POST")
          div.fields
            label введіть свою шкільну пошту
              input#email(placeholder="youremail@tl-kpi.kiev.ua" type="email" required)
          div.buttons
            button#ok(type="submit" class="btn") За
            button#notok(type="submit" class="btn") Проти
      div.percent
        div#ok-result(style=`width: ${okResult}%`) #{okResult}%
        div#notok-result(style=`width: ${notOkResult}%`) #{notOkResult}%
    script(src="/index.js")